*{margin:0; padding 0;}

#texto2{
        color: royalblue;
        text-align: right;
        text-transform: lowercase;
        letter-spacing: 10px;
        text-shadow: 5px 7px black;
    }

#texto3{ 
    color: green;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 15px;
    text-shadow: 20px 40px;
    }

    p{ 
        color: aqua;
        text-align: left;
        text-transform: capitalize;
        letter-spacing: 5px;
        text-shadow: 5px 50px;
        }
    

    h2  { 
        color: darkgoldenrod;
        text-align: right;
        text-decoration: overline;
        }

        h3  { 
            color: chartreuse;
            text-align: center;
            text-decoration: line-through;
            }